@using MagazaSistem.Entites.Models
@model List<Brand>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<style>
    #product-li-row-texts {
        text-align: center;
        font-weight: bold;
        justify-content: center;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-left: 2px;
        margin: -5px;
    }
</style>



<div class="productSaveBar">
    <div class="productSaveButton"><div style="margin-top:5px;" class="product-li-row-text"><a href="~/Brand/add"><button class="buttonx" style="width:100px; "><span>Ekle</span></button></a></div></div>

    <div class="productSaveText"><p class="p">Markalar</p></div>

</div>



<div class="anaDiv">



    @foreach (var brand in Model)
    {

        <div class="urunDiv">
            <div class="imgDiv" style="width:500px;">
                <ul class="product-ul">
                    <li class="product-ul-li" style="height:200px; ">
                        <div class="product-li-row">

                            <div class="product-li-row-text" style="text-align:center;"><img src="@brand.BrandImgUrl" width="350px" height="100px" /></div>
                        </div>
                    </li>

                    <li class="product-ul-li">
                        <div class="product-li-row">
                            <div class="product-li-row-text" id="product-li-row-texts">
                                <div style="width:350px; height:40px; text-align:center; margin-top:5px;">@brand.BrandName</div>

                                <div style="text-align:center; width:100px;">
                                    <div class="product-li-row-text">
                                        <a class="buttonx" style="background-color:crimson; width:100px; margin-right:-20px; height:40px;" href="/Brand/Update/@brand.BrandId"><span style="margin-top:7px;"><i class="fa-solid fa-pencil"></i></span></a>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </li>




                </ul>
            </div>
        </div>

    }
</div>


